*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Хедер */
body{
    color: black;
    transition: background-color 0.5s, color 0.5s;
}
header{
    padding: 10px;
    text-align: center;
    background-color: rgb(57, 12, 12);
    color: aliceblue;
    position: relative;
}
.container-theme{
    display: flex;
    position: absolute;
    padding: 10px;
    gap: 5px;
    top: 10px;
    right: 10px;
}
.theme{
    padding: 10px;
}
#dark{
    background-color: black;
}

.dark{
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;

}

/* Навигация */
nav{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav > a{
    padding: 10px;
    color: inherit;
    font-size: 24px;
}

nav > a:hover{
    color: brown;
}
/*Обо мне*/
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: aliceblue;
}
.bio{
    padding: 30px;
    font-size: 20px;
    background: #6E2416; 
    margin-left: 10px;
    margin-bottom: 80px;
    border-radius: 10px;
}
.interests-goals{
    background-color: #6E2416;
    margin-right: 20px;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
}
/*Таблица*/
.schedule{
    padding: 30px;
    font-size: 20px;
    background-color: #6E2416;
    margin-right: 800px;
    border-radius: 10px;
    margin-left: 10px;
    color: aliceblue;
}
table{
    border-spacing: 5px;
}
table thead th{
    padding: 10px;
}
table tbody tr{
    background-color: bisque;
    text-align: center;
    color: black;
}
/*Футер*/
footer{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    color: aliceblue;
    background-color: rgb(27, 21, 21);
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 50px;
}
a{
    color: inherit;
    text-decoration: none;
}

/*-------------------------------------------------------------------------------*/
/*projects.html*/


/*Проекты*/
.project-card{
    padding: 20px;
}

.project-card article{
    background-color: antiquewhite;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 100px;
    color: black;
}

/*-------------------------------------------------------------------------------*/
/*letter.html*/

.main-letter{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter-form{
    padding: 20px;
    box-shadow: 0 4px 16px #3a3131;
    margin-top: 10px;
    border-radius: 10px;
}

.letter-form div {
    padding: 10px;
    text-align: center;
}

.text{
    display: flex;
    align-items: center;
    gap: 6px;
}

/*--------------------------------------------------------------------*/
/*age.html*/

.age-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.age{
    font-size: 20px;
    padding: 20px;
}